<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% block meta %}
  {% if page %}
    {% with page = page %}
      {% include "_meta.html" %}
    {% endwith %}
  {% endif %}
{% endblock meta %}

{% include "_style.html" %}
{% include "_js_head.html" %}

{% block title %}
  <title>some title | monkeycycle</title>
{% endblock title %}

    </head>
    <body>
        <div class="container">

{% block header %}
  {% include "_header.html" %}
{% endblock header %}

{% block content %}
  <p>some content</p>
{% endblock content %}

{% block footer %}
  {% include "_footer.html" %}
{% endblock footer %}

        </div>
        <!-- container -->

<!-- GIVING ERRORS -->
{% include "_js_foot.html" %}
<!-- GIVING ERRORS -->

    </body>
</html>